<md-menu>
  <button md-menu-item>Settings</button>
</md-menu>

<md-toolbar color="primary">
  <span>{{title}}</span>
  <button id="login" md-menu-item *ngIf="!loggedIn()" (click)="login()">
    <span>Login</span>
  </button>
  <button id="logout" md-menu-item *ngIf="loggedIn()" (click)="logout()">
    <span>Logout</span>
  </button>
</md-toolbar>

<h1>Topic</h1>

<app-delivery-list>
</app-delivery-list>

<md-card>
  <md-card-content>hallo</md-card-content>
</md-card>


<md-progress-bar mode="determinate" color="primary" value="50"></md-progress-bar>
