
<md-toolbar color="primary">
  <span id="menu-header">{{title}}</span>
  <span class="spacer"></span>
  <span *ngIf="user" id="username">{{user.name}}</span>
  <span>&nbsp;</span>
  <img *ngIf="user" src={{user.avatar}} alt="User Gravatar" width="44" height="44">
  <button md-button id="login" *ngIf="!loggedIn()" (click)="login()">
    <span>Login</span>
  </button>
  <button md-button id="logout" *ngIf="loggedIn()" (click)="logout()">
    <span>Logout</span>
  </button>
</md-toolbar>

<app-delivery-list>
</app-delivery-list>

<md-card>
  <md-card-content>hallo</md-card-content>
</md-card>


<md-progress-bar mode="determinate" color="primary" value="50"></md-progress-bar>
